/* PC */
.header {
  display: none;
}

.main {
  font-size: var(--body);
}
.intro {
  display: grid;
  grid-template-columns: 120px 265px;
  place-content: center;
  column-gap: 16px;
  align-items: center;
  padding: clamp(3rem, 2.7809rem + 0.8989vw, 3.5rem) 0;
}
.intro_text {
  order:2;
}
.intro_text h1 {
  font-size: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  font-family: var(--font-montserrat);
  font-weight: 300;
  color: var(--accent);
}
.intro_text p {
  font-size: var(--small-heading4);
}
.intro_img {
  order: 1;
}
.intro_img img {
  width: 100%;
}

/*タイピング*/
.intro_text :global(.typing) {
  word-break : break-all;
  opacity: 0;
  min-height: 3.5em;
}
/*jsで生成されるspanタグ*/
.intro_text :global(.typing) span{
    display: none;
}
/*|カーソルを表示*/
.intro_text :global(.typing):after {
  content: "|";
  animation: typingCursor .8s ease infinite;
}
.intro_text :global(.typing.typingEnd):after {
  content: '';
}
.intro_text :global(.cursor) {
  position: relative;
}
.intro_text :global(.cursor):after {
  content: "|";
  color: rgba(62, 62, 62, 0.6);
  animation: typingCursor .8s ease infinite;
  position: absolute;
  left: 0;
  top: -0.3em;
}
.intro_text :global(.cursor.typingStart):after {
  content: "";
}
@keyframes typingCursor {
  0%{ opacity:0; border-color: transparent; }/*消滅*/
  50%{ opacity:0; border-color: black; } /*出現*/
  100%{ opacity:1; border-color: transparent; }/*消滅*/
}

.section h2 {
  font-family: var(--font-montserrat);
  font-weight: 200;
  color: var(--accent);
  text-align: center;
  margin-bottom: 32px;
}

.section h3 {
  text-align: center;
  font-size: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  font-weight: 400;
  margin-bottom: 16px;
}

.skill{
  padding: clamp(3rem, 2.7809rem + 0.8989vw, 3.5rem) 0;
}
.skill .container {
  width: 93.75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 29.8%);
  place-content: space-between;
  margin-inline: auto;
  margin-bottom: 32px;
}
.skill article {
  background-color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.skill article h3 {
  font-family: var(--font-montserrat);
  font-weight: 300;
  font-size: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  color: var(--accent);
  text-align: left;
  margin-bottom: 0;
  display: flex;
  gap: 4px;
  align-items: center;
}
.skill article p {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
}
.skill article .more_link a {
  display: flex;
  width: 120px;
  height: 40px;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #3B7495;
  margin-inline: auto;
  color: #3B7495;
  font-size: 14px;
}
.skill .sub_container {
  text-align: center;
}
.skill .sub_container > div {
  /* width: 56.1%; */
  max-width: 720px;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  padding: 32px;
  margin-inline: auto;
  display: inline-grid;
  grid-template-columns: auto auto;
  place-items: center;
  /* place-content: center; */
  column-gap: 8px;
}
.skill .sub_container p {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  text-align: left;
  display: flex;
  flex-direction: column;
}
.skill .sub_container p svg {
  margin: auto;
}
.skill .sub_container ul {
  display: grid;
  gap: 16px;
  list-style-type: none;
  text-align: left;
}
.skill .sub_container li dl {
  display: flex;
  align-items: baseline;
}
.skill .sub_container li dt {
  width: 115px;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 100px;
  margin-right: 4px;
}
.skill .sub_container ul li:nth-child(1) dt {
  background-color: #EDEDF9;
  color: #00005B;
}
.skill .sub_container ul li:nth-child(2) dt {
  background-color: #ECF3E4;
  color: #61A015;
}
.skill .sub_container ul li:nth-child(3) dt {
  background-color: #DFE6F1;
  color: #465264;
}
.skill .sub_container li dd {
  width: calc(100% - 115px);
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
}

.works {
  padding: clamp(3rem, 2.7809rem + 0.8989vw, 3.5rem) 0;
}
.works .post {
  margin-bottom: 48px;
}
.works .post article {
  width: 93.7%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.works .post article > figure {
  width: 47.3%;
}
.works .post article > figure img {
  width: 100%;
  height: auto;
}
.works .post article > div {
  width: calc(100% - 47.3%);
}
.works .post article h4 {
  color: var(--accent);
  font-weight: 500;
  margin-bottom: 8px;
}
.works .post article p {
  margin-bottom: 8px;
}
.works .post article .url {
  text-align: right;
  font-size: 10px;
}
.works .posts {
  width: 93.75%;
  margin-inline: auto;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 1fr); */
  grid-template-columns: repeat(3, 1fr);
  column-gap: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
}
.works .posts article figure {
  position: relative;
  width: 100%;
  height: 170px;
  margin-bottom: 16px;
}
.works .posts article figure img {
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  inset: 0px;
  object-fit: cover;
}
.works .posts article h4 {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--accent);
}
.works .posts article p {
  margin-bottom: 8px;
}
.works .posts article .url {
  text-align: right;
  font-size: 10px;
}

.about {
  padding-top: clamp(3rem, 2.7809rem + 0.8989vw, 3.5rem);
  padding-bottom: 32px;
}
.about .container {
  width: 100%;
  display: grid;
  grid-template-columns: 120px 464px;
  place-content: center;
  align-items: center;
  column-gap: 16px;
}
.about_text {
  order:2;
}
.about_text:nth-last-of-type(2) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.about_text p {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  margin-bottom: 16px;
}
.about_text dl {
  border: 1px solid #ECECEC;
  border-radius: 8px;
  padding: 16px;
}
.about_text dt {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  margin-bottom: 8px;
}
.about_text dd {
  font-size: clamp(0.813rem, 0.813rem + 0vw, 0.813rem);
}
.about_text dd ul {
  list-style-type: none;
  display: flex;
  column-gap: 8px;
}
.about_text dd ul li {
  border-radius: 100px;
  border: 1px solid #ECECEC;
  padding: 4px 8px;
}
.about_img {
  order:1;
}


.portfolio {
  padding-bottom: clamp(3rem, 2.7809rem + 0.8989vw, 3.5rem);
}
.portfolio h2 + p {
  text-align: center;
  margin-bottom: 20px;
}
.portfolio .splide__container :global(.splide__slide) {
  width: 100%;
  border: 1px solid #F2F2F2;
  background-color: #fff;
}
.portfolio .splide__container :global(.splide__arrow) {
  width: 3em;
  height: 3em;
}
.portfolio .splide__container :global(.splide__arrow--prev) {
  left: 0.5em;
}
.portfolio .splide__container :global(.splide__arrow--next) {
  right: 0.5em;
}
.portfolio .splide__container article > div {
  padding: 16px;
}
.portfolio .splide__container article h3 {
  text-align: left;
  margin-bottom: 0;
  padding: 16px;
  /* background: lightblue; */
  background: linear-gradient(0deg, rgba(59, 116, 149, 0.40) 0%, rgba(59, 116, 149, 0.40) 100%), lightgray 50% / cover no-repeat;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  color: #fff;
  position: relative;
}
.portfolio .splide__container article h3 > span {
  position: relative;
  z-index: 1;
}
.portfolio .splide__container article h3 > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.portfolio .splide__container article p {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
}
.portfolio .splide__container article ul {
  list-style-type: none;
  padding-top: 8px;
}
.portfolio .splide__container article ul li {
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
}

.javascript {
  background-color: #E6EFF2;
  padding: clamp(3rem, 2.7809rem + 0.8989vw, 3.5rem) 0;
}
.javascript h2 + p {
  text-align: center;
  margin-bottom: clamp(1.5rem, 1.2809rem + 0.8989vw, 2rem);
}
.javascript .container {
  width: 93.75%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 28%);
  place-content: space-between;
}
.javascript .container article {
  background-color: #fff;
  padding: 24px;
  border-radius: 4px;
}
.javascript .container article h3 {
  font-size: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  font-weight: 400;
  color: var(--accent);
  margin-bottom: 16px;
  position: relative;
}
.javascript .container article h3::after {
  display: inline-block;
  content: '';
  width: 30px;
  height: 1px;
  background-color: #3B7495;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  margin-inline: auto;
}
.javascript .container article h3 + p {
  font-size: clamp(0.625rem, 0.625rem + 0vw, 0.625rem);
  text-align: right;
  margin-bottom: 16px;
  word-break: break-all;
}
.javascript .container article figure:not(:last-child) {
  margin-bottom: 8px;
}
.javascript .container article figure:not(:last-child) figcaption {
  margin-bottom: 16px;
}
.javascript .container article figure img {
  width: 100%;
}

.footer {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),  lightgray 50% / cover no-repeat;
  background-size: cover;
}
.footer p {
  color: #fff;
}
.footer small {
  font-size: clamp(0.625rem, 0.625rem + 0vw, 0.625rem);
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: fit-content;
  margin-inline: auto;
}

/* pc */
@media (min-width: 701px) {
  .portfolio .splide__container :global(.splide__list) {
    width: 93.75%;
    margin-inline: auto !important;
    display: grid !important;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 72px;
    row-gap: 24px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .header {
    display: block;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    display: none;
  }
  .header.is-active {
    display: block;
  }
  .header h1 {
    background-color: var(--accent);
    color: #FFF;
    font-size: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header nav ul {
    display: flex;
    align-items: flex-start;
    background: #FFF;
    list-style-type: none;
  }
  .header nav ul li {
    width: 25%;
    color: #989898;
    border-bottom: 1px solid #E7E7E7;
  }
  .header nav ul li:global(.is-active) {
    color: #000;
    border-bottom: 2px solid var(--accent);
  }
  .header nav ul li a {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    font-weight: bold;
  }

  .intro {
    grid-template-columns: 82px 272px;
    column-gap: 6px;
  }

  .skill .container {
    grid-template-columns: repeat(auto-fill, 100%);
    row-gap: 32px;
  }
  .skill .sub_container > div {
    width: 93.75%;
    margin-inline: auto;
    grid-template-columns: auto;
    row-gap: 8px;
    padding: 16px
  }
  .skill .sub_container p {
    text-align: center;
  }
  .skill .sub_container li dl {
    align-items: center;
  }

  .works .post article {
    width: 100%;
    flex-direction: column;
    row-gap: 16px;
  }
  .works .post article > figure {
    width: 93.75%;
    margin-inline: auto;
  }
  .works .post article > div {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .works .post article > div *+* {
    margin-block-start: 8px;
  }
  .works .posts {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
  }

  .about .container {
    width: 93.75%;
    margin-inline: auto;
    grid-template-columns: 82px auto;
  }
  .about .about_img img {
    width: 100%;
  }
  .about_text:nth-last-of-type(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
  .about_text dt {
    text-align: center;
  }

  /* .portfolio .splide__container {
    display: flex;
  } */
  .portfolio .splide__container :global(.splide__track) {
    margin-left: 3.125%;
    margin-bottom: 20px;
  }
  .portfolio .splide__container :global(.splide__list) {
    /* display: flex; */
    /* gap: 0; */
    width: 92%;
    /* margin-left: 3.125% !important; */
  }
  .portfolio .splide__container :global(.slider-progress) {
    width: 92%;
    margin-inline: auto;
  }
  .portfolio .splide__container :global(.splide__slide) {
    width: 100%;
  }
  .portfolio .splide__container :global(.slider-progress) {
    background: #E6EFF2;
  }
  .portfolio .splide__container :global(.slider-progress-bar) {
    background: #3B7495;
    height: 2px;
    transition: width 400ms ease;
    width: 0;
  }

  .javascript h2 + p {
    width: 93.75%;
    margin-inline: auto;
  }
  .javascript .container {
    grid-template-columns: repeat(1, 100%);
    row-gap: 24px;
  }

  .footer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), lightgray 50% / cover no-repeat;
    background-size: cover;
  }
  .footer p {
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}